# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# envs
.venv/
env/
*.conda

# outputs
/outputs/

/data/raw/*
/data/obs/*
!/data/raw/.gitkeep
!/data/obs/.gitkeep


# allow small public example datasets
!/data/examples/
!/data/examples/*


# OS
.DS_Store
Thumbs.db
